/vendor
vendor/
composer.lock
composer.phar
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing
tests/.phpunit.cache
tests/.phpunit.result.cache
/tests/integration/tmp
js/coverage-ts

# Coverage
coverage/
coverage.xml

# Cache
.php-cs-fixer.cache
.phpunit.result.cache

# Other
.vagrant
