/vendor
vendor/
composer.lock
composer.phar
node_modules/
package-lock.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing
tests/.phpunit.cache
tests/.phpunit.result.cache
/tests/integration/tmp
js/coverage-ts

# Other
.vagrant
