includes:
    - vendor/flarum/phpstan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - extend.php
    excludePaths:
        - *.blade.php
    databaseMigrationsPath:
        - migrations
